{% if group.users.count == 0 %}
<form method="post" action="{{ path('admin_group_delete', {'id': group.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
    <button class="btn">Delete</button>
</form>
{% endif %}
