{% extends 'admin.html.twig' %}

{% block title %}Edit Group{% endblock %}

{% block body %}
    <h1>Edit Group</h1>

    {{ include('admin/group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_group_index') }}">back to list</a>

    {{ include('admin/group/_delete_form.html.twig') }}
{% endblock %}
