{% extends 'admin.html.twig' %}

{% block title %}Group index{% endblock %}

{% block body %}
    <h1>Group index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{{ path('admin_group_show', {'id': group.id}) }}">show</a>
                    <a href="{{ path('admin_group_edit', {'id': group.id}) }}">edit</a>
                </td>
                <td>
                    {{ include('admin/group/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_group_new') }}">Create new</a>
{% endblock %}
