{% extends 'admin.html.twig' %}

{% block title %}New Group{% endblock %}

{% block body %}
    <h1>Create new Group</h1>

    {{ include('admin/group/_form.html.twig') }}

    <a href="{{ path('admin_group_index') }}">back to list</a>
{% endblock %}
