{% extends 'admin.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<ul>
    <li><a href="{{ path('admin_group_index') }}"> Group</a></li>
    <li><a href="{{ path('admin_user_index') }}"> User</a></li>
</ul>
{% endblock %}
